{% extends "checklists/base.html" %}

{% block content %}
    
    <div id="projects-title-first">
        <h2>
            <a href="{% url 'singleproject' project.id %}">{{ project.title }}</a> - 
            <a href="{% url 'singleeplan' project.id eplan.id %}">{{ eplan.title }}</a> |
            {% comment %} <a href="{% url 'eplandevice' project.id eplan.id eplan_device.id %}">{{ eplan_device.title }}</a> {% endcomment %}
            {{ eplan_device.title }} 
            
        </h2> 
    </div>
    <div id="projects-title-second">
        <h4>{{ eplan_device.selected_checklist_points.count }} / {{checkpoints.count}} completed</h4>
    </div>

    <div id="device-checkpoints">
        {% for checkpoint in checkpoints %}
            <form method="POST" name="MyForm" action="{% url 'checkpoint' project.id eplan.id eplan_device.id checkpoint.id %}">
                <div id="eplan-device">

                    <div class="checkpoint_checked">
                    {% csrf_token %}
                        {% if checkpoint.is_finished %}
                            <input checked onChange="this.form.submit()" type="checkbox" name="finish" value="unchecked">
                        {% else %}
                            <input onChange="this.form.submit()" type="checkbox" name="finish" value="checked"> 
                        {% endif %}
                    </div>

                    
                    {% comment %} <div class="check_checked">
                    {% csrf_token %}
                        {% if checkpoint.is_finished %}
                            <input checked onChange="this.form.submit()" type="checkbox" id="is_finiehed" name="is_finiehed" >

                        {% else %}
                            <input onChange="this.form.submit()" type="checkbox" name="is_finiehed"> 
                        {% endif %}
                    </div> {% endcomment %}

                    <div id="device_id"><a href="/projects/{{ project.id }}/{{ eplan.id }}/{{ eplan_device.id }}">{{ checkpoint.title }}</a></div>
                    <div class="user_project">{{checkpoint.user_edited}}</div> 
                    {% comment %} <div class="user_checker"></div>  {% endcomment %}
                        
                </div>
            </form>
        {% endfor %}
    </div>
 {% endblock %}
