{% extends "checklists/base.html" %}

{% block content %}
    
    <div id="projects-title-first">
        <h2>
            <a href="{% url 'singleproject' project.id %}">{{ project.title }}</a> - 
            <a href="{% url 'singleeplan' project.id eplan.id %}">{{ eplan.title }}</a> |
            {% comment %} <a href="{% url 'eplandevice' project.id eplan.id eplan_device.id %}">{{ eplan_device.title }}</a> {% endcomment %}
            {{ eplan_device.title }} 
            
        </h2> 
    </div>
    <div id="projects-title-second">
        <h4>{{ eplan_device.selected_checklist_points.count }} / {{checkpoints.count}} completed</h4>
    </div>

    <div id="device-checkpoints">
        {% for checkpoint in checkpoints %}
            
            <div id="eplan-checkpoint">

                {% comment %} Zaznaczone checkpointy {% endcomment %}
                          
                    <form method="POST" name="MyForm" action="{% url 'checkpoint' project.id eplan.id eplan_device.id checkpoint.id %}">
                        {% csrf_token %}
                        <div class="checkpoint_checked">
                            <input {% if checkpoint.is_finished %}checked{% endif %} onChange="this.form.submit()" type="checkbox" name="finish"
                                value="projected">
                            {% if checkpoint.is_finished %} <input type="hidden" name="finish" value="unprojected" /> {% endif %}
                        </div> 
                    </form>
                    

                    {% comment %} Sprawdzenie checkpointów {% endcomment %}
                    <form method="POST" name="MyForm" action="{% url 'checkpoint' project.id eplan.id eplan_device.id checkpoint.id %}">
                        {% csrf_token %}
                        <div class="checkpoint_checked">
                            <input {% if checkpoint.is_verified %}checked{% endif %} onChange="this.form.submit()" type="checkbox" name="verify"
                                value="verified">
                            {% if checkpoint.is_verified %} <input type="hidden" name="verify" value="unverified" /> {% endif %}
                        </div> 
                    </form>   
                        
                                    
                <div id="device_id"<a href="/projects/{{ project.id }}/{{ eplan.id }}/{{ eplan_device.id }}">{{ checkpoint.title }}</a></div>
                <div id="authors">
                    <div class="user_project">Projektant: {{checkpoint.user_edited}} |</div> 
                    <div class="user_project">Sprawdzający: {{checkpoint.user_verified}}</div> 
                </div>
            </div>

        {% endfor %}
    </div>
 {% endblock %}
