/* Kolory do progresu głównego */
#projects-title-second #percent-red,
#project-content a #percent-red,
#project-content #eplan-device a #percent-red,
#percent-red {
  color: rgb(226, 12, 12);
}
#projects-title-second #percent-yellow,
#project-content a #percent-yellow,
#project-content #eplan-device a #percent-yellow,
#percent-yellow {
  color: rgb(212, 212, 83);
}
#projects-title-second #percent-green,
#project-content a #percent-green,
#project-content #eplan-device a #percent-green,
#percent-green {
  color: rgb(72, 165, 72);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
input[type="checkbox"]:checked {
  background: rgb(5, 112, 5);
  content: "x";
  /* position: absolute; */
  font-size: 90%;
  left: 0.0625em;
  top: -0.25em;
}

